/*

 SnowStorm demo page CSS
 -----------------------

 None of this is needed for the snow effect to work - it's strictly to make the demo/documentation look pretty.

*/

body {
 background:#333;
 margin:0px;
 padding:0px;
 color:#e0e0e0;
 font-family:"helvetica neue",helvetica,verdana,arial,tahoma,"sans serif";
 font-size:76%;
 text-shadow: 0 0 0 #000; /* safari is lame. */
}

#bg {
 position:absolute;
 position:fixed;
 _display:none;
 left:0px;
 top:0px;
 width:100%;
 height:100%;
 background:#222;
 background: url(../lights/image/bg-strip-dark.png);
 background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(16,16,32)),
  color-stop(1, rgb(32,132,202))
 );
 background: -moz-linear-gradient(
  center bottom,
  rgb(16,16,32) 0%,
  rgb(32,132,202) 100%
 );
}

a {
 color:#aaaa00;
 text-decoration:none;
}

a:hover {
 color:#ffff33;
}

h1, h2, h3 {
 margin:0px;
 color:#fff;
 /*
 letter-spacing:-0.01em;
 */
 font-weight:200; /* "lighter" is good on Firefox, but not Webkit at this size. */
}

h1 {
 font-size:2.2em;
 font-weight: normal;
}

h2 {
 font-size:1.8em;
 margin-top:1.5em;
 margin-bottom:0.5em;
 color:#fff;
}

#content:first-child h2 {
 margin-top:0.75em;
}

h3 {
 font-size:1.4em;
 margin-top:1.5em;
 margin-bottom:0.5em;
 color:#99ccff;
}

h2 + h3,
h3 + p {
 margin-top:0px;
}

p {
 margin:1em 0px 0px 0px;
}

dd,
p {
 line-height:1.6em;
}

p.first {
 margin-top:0.25em;
}

body #container .noTop {
 margin-top:0px;
 padding-top:0px;
}

pre {
 font-size:1.2em;
 *font-size:1em;
 color:#33cc33;
}

pre span {
 color: #ccc;
}

pre {
 font-size:1.25em;
}

ul {
 margin-left:16px;
 padding-left:0px;
 margin-top:5px;
 margin-bottom:5px;
}

.bright {
 color:#ff6666;
}

dl {
 margin-left:1em;
}

dl dt {
 font-weight:bold;
 border-bottom:1px dotted #555;
 border-bottom-color:rgba(64,64,64,0.9);
 padding-bottom:4px;
 margin-top:1.5em;
 margin-right:2%;
}

dl dd {
 margin-top:4px;
 margin-left:0px;
 margin-bottom:0.5em;
}

code,
dl dt code {
 color:#33cc33;
 font-weight:normal;
}

dl dd code {
 color:#ccc;
}

dl em {
 color:#fff;
 font-weight:normal;
 padding-top:2px;
 padding-bottom:0.5em;
}

code {
 font-family:monaco,"VT-100","lucida console",terminal,monospace,courier,system,sans-serif;
 font-size:1em;
 font-weight:light;
}

#container {
 position:relative;
 font-size:1.2em;
 background:#222;
 background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(99%, rgba(0,0,0,0.3)),
  color-stop(100%, rgba(32,132,202,1))
 );
 background: -moz-linear-gradient(
  center bottom,
  rgba(0,0,0,0.3) 99%,
  rgba(32,132,202,1) 100%
 );
 padding:32px 16px 16px 16px;
 border:1px solid #111;
 border-color:rgba(255,255,255,0.05);
 -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.25); /* Interesting: Safari really chokes when scrolling with 32px blur. */
 -moz-box-shadow:0px 0px 32px rgba(0,0,0,0.25);
 box-shadow:0px 0px 32px rgba(0,0,0,0.25);
 text-shadow:0px 1px 3px rgba(0,0,0,0.1);
 border-bottom:none;
 border-top:none;
 max-width:50em;
 _width:50em;
 margin:0px auto;
}

#content {
 position:relative;
 z-index:2;
}

.alt {
 color:#ccc;
 color:rgba(192,192,192,0.9);
 font-size:small;
 margin-top:1em;
}

/* seasonal decorations */

#lights {
 position:absolute;
 border-top:1px solid #006600;
 left:0px;
 top:0px;
 width:100%;
 height:275px;
 overflow:hidden;
 z-index:1;
 display:none;
}

.xlsf-light {
 position:absolute;
 margin-top:-1px;
}

.xlsf-fragment {
 position:absolute;
 background:transparent url(../lights/image/bulbs-50x50-fragments.png) no-repeat 0px 0px;
 width:50px;
 height:50px;
}

.xlsf-fragment-box {
 position:absolute;
 left:0px;
 top:0px;
 width:50px;
 height:50px;
 *width:100%;
 *height:100%;
 display:none;
}

.xlsf-cover {
 position:fixed;
 left:0px;
 top:0px;
 width:100%;
 height:100%;
 background:#fff;
 opacity:1;
 z-index:999;
 display:none;
}

.special {
 display:none;
 font-size:x-small;
 color:#999;
}

ul li {
 line-height:1.75em;
}

div.snowflake {
 /* Apply a slight dark shadow (or if light, a glow) to each snowflake */
 text-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}